<h1> Welcome To LittleShop!! </h1>
<h3> <%= link_to 'Home', root_path %></h3>
<h3> <%= link_to 'Items', items_path %></h3>
<h3> <%= link_to 'Merchants', merchants_path %></h3>
<h3> <%= link_to 'Log In', merchants_path %></h3>
<h3> <%= link_to 'Register', new_user_path %></h3>
<% if current_user %>
  <h3> <%= link_to 'Log Out', root_path  %></h3>
<%end%>
